<%
hasCampaign = function (bounty, weekNo, campaignName) {
let result = false;

const week = bounty.weeks.find(week => week.parsedWeekNo == weekNo);
if (week) {
const campaign = week.campaigns[campaignName];
if (campaign) {
result = campaign.done;
}
}

let output = '';
if (result) {
output = 'bounty-done';
}

return output;
}
%>

<% print_section = function (name,sections) {%>
<div class="row mb-4">
    <div class="col-xl-12 pb-4 bg-green shadow">
        <h2 class="text-center m-4 text-uppercase"><%= name %></h2>
        <small class="text-muted" id="my-rewards-<%= name %>">
            Rewards: 1000 Stakes
        </small>

        <div class="card-deck">
            <% sections.forEach(function(item){ %>
            <div class="col-6">
                <div class="card mb-2">
                    <div class="card-header">
                        <h5><%= item.title %>  (ID: <%= item.id %>)
                            <span class="text-right float-right">
                            <a data-toggle="collapse" href="#collapseRules<%=item.id%>" role="button" aria-expanded="false" aria-controls="collapse">
                                <i class="far fa-question-circle"></i></a>
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <%= item.description %>
                        <div class="collapse" id="collapseRules<%=item.id%>">
                            <h5 class="mt-2">Rules</h5>
                                <ul>
                                    <% item.rules.forEach(function(rule){ %>
                                    <li><%= rule %></li>
                                    <% }); %>
                                </ul>
                            <h5 class="mt-2">Weeks</h5>
                            <% [30,31,32,33,34,35,36,37,38,39,40,50,51,52,53,54,55].forEach(function(week){ %>
                                <span class="id<%=week%>" data-toggle="tooltip" data-placement="top" title="Week <%=week%>">■</span>
                            <% }); %>


                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Reward: <strong><%= item.reward%></strong> <%= item.rewardType%> / <%= item.frequency%>

                        </small>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<%}%>

<section class="blc-tge bg-white-blue" id="tge">
    <div class="container">
        <div class="head m-0">
            <h1 class="title hr">Asure Network Bounty Campaign II</h1>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4 mt-4">
                    <div class="card-header">
                        <h5>Bounty Status
                            <span class="text-right float-right">
                                        <a data-toggle="collapse" href="#collapseBountyInfo" role="button" aria-expanded="false" aria-controls="collapse">
                                        <i class="far fa-question-circle"></i></a>
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="input-group">
                                <input type="text"
                                       id="new-bounty-eth-addr"
                                       class="form-control"
                                       placeholder="ETH address"/>
                                <div class="input-group-append">
                                    <button type="submit" id="new-bounty-eth-addr-btn" class="btn btn-block btn-primary">CHECK
                                    </button>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                    <label class="form-check-label" for="inlineCheckbox1">
                                        <i class="fab fa-twitter"></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                                    <label class="form-check-label" for="inlineCheckbox2">
                                        <i class="fab fa-telegram"></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked>
                                    <label class="form-check-label" for="inlineCheckbox3">
                                        <i class="fab fa-facebook"></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option3" checked>
                                    <label class="form-check-label" for="inlineCheckbox4">
                                        <i class="fab fa-linkedin"></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option3" checked>
                                    <label class="form-check-label" for="inlineCheckbox5">
                                        <i class="fab fa-reddit"></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option3" checked>
                                    <label class="form-check-label" for="inlineCheckbox6">
                                        <i class="fab fa-bitcoin"></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline mr-4">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option3" checked>
                                    <label class="form-check-label" for="inlineCheckbox7">
                                        <i class="fab fa-creative-commons"></i>
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-medium"></i>
                                    </label>
                                </div>

                            </div>
                        </form>
                        <%- partial("_bounty_info") %>
                    </div>

                </div>
            </div>
        </div>



        <%= print_section("Twitter",public.bounty._data.index.ui.filter(data => data.typeId == "twitter")) %>

        <%= print_section("Telegram",public.bounty._data.index.ui.filter(data => data.typeId == "telegram")) %>

        <%= print_section("Facebook",public.bounty._data.index.ui.filter(data => data.typeId == "facebook")) %>

        <%= print_section("Linkedin",public.bounty._data.index.ui.filter(data => data.typeId == "linkedin")) %>

        <%= print_section("Bitcointalk",public.bounty._data.index.ui.filter(data => data.typeId == "bitcointalk")) %>

        <%= print_section("Reddit",public.bounty._data.index.ui.filter(data => data.typeId == "reddit")) %>

        <%= print_section("Creative",public.bounty._data.index.ui.filter(data => data.typeId == "cc")) %>

    </div>
</section>



